/* BOX ENVELOP */
.navbar-envelop {
  position: fixed;
  background-color: beige;
  top: 0;
  width: 100%;
  align-items: center; /* Esto centra verticalmente el contenido */
}

/* MAIN BOX */
.navbar-box {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  margin: 0 auto; /* Agrega margen automático a la izquierda y derecha para centrar */
}

/* OWNER */
.navbar-box-owner {
  flex-grow: 1; /* Hace que este elemento crezca y empuje los otros elementos hacia los extremos */
  text-align: left; /* Alinea el texto a la izquierda */
}

/* NAVIGATION */
.navbar-box-content {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-buttons {
  border: none;
  margin: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}

/* SOCIAL */
.navbar-box-social {
  flex-grow: 1; /* Hace que este elemento crezca y empuje los otros elementos hacia los extremos */
  text-align: right; /* Alinea el contenido a la derecha */
}
